body {
  background: #eee;
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
  color     : rgb(48, 48, 48);
}

.add-book-container {
  position       : fixed;
  top            : 0;
  left           : 0;
  width          : 60%;
  height         : 180px;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.book-list-container {
  width      : 60%;
  padding-top: 180px;

  .book-list {
    list-style: none;

    li {
      display      : inline-block;
      padding      : 6px 16px;
      margin       : 8px 16px;
      font-size    : 1.2em;
      border       : 2px solid currentColor;
      border-radius: 5px;
      cursor       : pointer;
    }
  }
}

.book-details-container {
  position: fixed;
  top     : 0;
  right   : 0;
  height  : 100%;
  width   : 40%;
}